.hidden, .deviceId {
    display: none;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_table {
    /* display: block; */
    height: 400px;
    max-width: 50%;
    overflow-y: scroll;
    padding: 0 20px;
}
td {
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.table_title {
font-weight: bold;
text-align: center;
position: sticky;
top: 0;
background-color: white;
}

.section-inputs {
    margin-top: 20px;
    display: flex;
}

.device-table , .device-details {
    height: 400px;
    overflow-y: scroll;
    padding: 5px 10px;

}

.table_item:hover {
    background-color: bisque;
}
.table_item_deep:hover {
    background-color: rgb(196, 255, 196);
}
.section-create-service {
    margin-top: 20px;
}