.deviceId {
    display: none;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: center;
}
.title h1 {
    font-size: 3em;
    /* text-shadow: 1px 1px 2px #676767, 0 0 3em rgb(165, 165, 255), 0 0 0.2em rgb(166, 166, 247); */
}
header {
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 3px 3px rgb(0, 0, 0);
}
.btn-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main_table {
    /* display: block; */
    height: 400px;
    max-width: 50%;
    overflow-y: scroll;
    padding: 0 20px;
}
td {
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.smartthings, .controls , .services, .information{
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 3px 3px rgb(0, 0, 0);
}
.controls {
    text-align: center;
}
button {
    background-color: azure;
    border: .2px solid gray;
    border-radius: 7px;
}

.table_title {
font-weight: bold;
text-align: center;
position: sticky;
top: 0;
background-color: white;
}

.section-inputs {
    margin-top: 20px;
    display: flex;
}

.device-table , .device-details {
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px 10px;

}

.table_item:hover {
    background-color: bisque;
}
.table_item_deep:hover {
    background-color: rgb(196, 255, 196);
}
.section-create-service {
    margin-top: 20px;
}
.services {
    width: 90%;
    align-self: center;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: auto;
}
.services h3 {
    margin-top: 0;
    background-color: aquamarine;
}
.services-table{
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px 10px;
    width: auto;
    margin: auto;
}


.services_table {
    display: block;
    margin: 0px auto;
}
.services_table tr {
    width: 100%;
}

/* Modal */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: 1px solid gray;
    font-weight: 600;
  }
  
  .btn {
    display: block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  /* General */
  .hidden {
    display:none;
}

.del-btn i, 
.edit-btn i {
    pointer-events: none;
}